* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

nav {
    position: fixed;
    background-color: #ffffff;
    padding: 10px 0;
    width: 100%;
}

.menu {
    max-width: 1250px;
    background-color: rgba(1, 21, 1, 0);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.menu .logo a {
    text-decoration: none;
    color: #fbf;
    font-size: 25px;
    font-weight: 600;
}

.menu ul {
    display: inline-flex;
}

.menu ul li {
    list-style: none;
    margin left: 5px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.menu ul li a:hover {
    background-color: #fff;
    color: #000;
}

.img {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
